PORT=5000
NODE_ENV=development
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.yvdzdpg.mongodb.net/ndai_db?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=ndai_super_secret_jwt_key_2026_dakar_immobilier
JWT_EXPIRE=30d
